.container{
    width:1000px;
    height: 100%;
    margin: 0 auto;
}
.content{
    margin: 50px 0;
    padding: 5px;
    border: 1px solid #ccc;
    height: 1000px;
}
.title{
    display: block;
    text-align: center;
}
.title h1{
    margin: 10px;
    font-size: 48px;

}
.search-box{
    margin-left: 250px;
    text-align: center;
    display: inline-block;
}
.text-query
{
    width: 300px;
    height: 24px;
    padding: 4px 6px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ccc;
    outline: none;
    position:relative;
    top:0px;
    *top:-1px;
}
.search-type
{
    float: left;
    display:inline;
    position: relative;
    width: 90px;
    height: 32px;
    border: 1px solid #c1c1c1;
    border-right:0;
    border-radius: 3px 0 0 3px;
}
.text-wrap{
    float: left;
}

.submit-btn
{
    border:0;
    float:left;
    display:inline;
    width: 66px;
    height: 34px;
    background:#ff8400 0 0 no-repeat;
    cursor: pointer;
    color: #fff;
}
.search-type-menu
{
    margin-top:-1px;
    position: absolute;
    left: -1px;
    top:34px;
    z-index: 1000;
}
.search-type h3
{
    line-height: 32px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    float: left;
    display: inline;
    width: 90px;
    margin-left: -3px;
    background: url(../images/dropdown.png) 75px 3px no-repeat;
}

.search-type-menu ul
{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
}
.search-type-menu ul li
{
    height: 29px;
    width: 80px;
    border: 1px solid #d0d0d0;
    border-top: 0;
    background-color: #fff;
    line-height: 29px;
}
.search-type-menu ul li.over,.search-typeahead-wrap .search-typeahead-item table tr .over
{
    color: #e77802;
    background-color: #fff6dd;
}

.search-typeahead-wrap
{
    position: relative;
    border: 1px solid #c1c1c1;
    border-top: none;
    background: #fff;
    width: 312px;
    z-index: 3000;
    left: 0;
    top:0;
    *top:-2px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    overflow: hidden;
    text-align: left;
}
.search-typeahead-wrap .search-typeahead-top,.search-typeahead-wrap .search-typeahead-bottom
{
    height: 26px;
    line-height: 26px;
    padding-left: 14px;
    overflow: hidden;
}
.search-typeahead-wrap .search-typeahead-item
{
    font-size: 14px;
    width: 310px;
}
.search-typeahead-wrap .search-typeahead-item table{
    width: 310px;
}
.search-typeahead-wrap .search-typeahead-item table tr{
    cursor: pointer;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
    display: table-row;
}
.search-typeahead-wrap .search-typeahead-item table tr td {
    padding: 0 5px;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
}

.search-typeahead-wrap .search-typeahead-top
{
    color: #000;
    line-height: 30px;
    height: 30px;
    border-bottom: 1px dashed #eee;
    font-size: 14px;
}
.search-typeahead-wrap .search-typeahead-bottom
{
    font-size: 12px;
    border-top:1px dashed #eee;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.search-typeahead-wrap a
{
    display: inline;
    text-decoration: none;
    color:#666;
    margin-right: 10px;
}
.search-typeahead-wrap a:hover
{
    display: inline;
    text-decoration: underline;
    color:#e77802;
}